**/.git
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/test-results
**/test-results-*
**/test-report
**/playwright-report
**/*.db
**/*.db-journal
**/.DS_Store
**/.vscode
**/.idea
**/*.log
clone-tools/tests/all.spec.js-snapshots/*.png
**/*.webm
clone-tools/skybox-home.png
